schema_correspondance.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="http://www.tei-c.org/ns/1.0" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="TEI">
      <attribute>
        <name ns="http://www.w3.org/XML/1998/namespace">lang</name>
      </attribute>
      <element name="teiHeader">
        <element name="fileDesc">
          <element name="titleStmt">
            <element name="title">
              <text/>
            </element>
            <element name="author">
              <attribute name="key"/>
              <attribute name="ref">
                <data type="anyURI"/>
              </attribute>
              <text/>
            </element>
            <element name="editor">
              <attribute name="key"/>
              <text/>
            </element>
          </element>
          <element name="editionStmt">
            <element name="edition">
              <data type="NCName"/>
            </element>
            <element name="respStmt">
              <element name="name">
                <text/>
              </element>
              <element name="resp">
                <text/>
              </element>
            </element>
          </element>
          <element name="publicationStmt">
            <element name="publisher">
              <text/>
            </element>
            <ref name="date"/>
            <ref name="idno"/>
            <element name="availability">
              <attribute name="status">
                <data type="NCName"/>
              </attribute>
              <element name="licence">
                <attribute name="target">
                  <data type="anyURI"/>
                </attribute>
                <oneOrMore>
                  <ref name="p"/>
                </oneOrMore>
              </element>
            </element>
          </element>
          <element name="sourceDesc">
            <element name="msDesc">
              <element name="msIdentifier">
                <optional>
                  <element name="country">
                    <text/>
                  </element>
                </optional>
                <optional>
                  <element name="settlement">
                    <text/>
                  </element>
                </optional>
                <optional>
                  <element name="institution">
                    <text/>
                  </element>
                </optional>                
                <element name="repository">
                  <data type="string">
                    <param name="pattern">.+</param>
                  </data>          
                </element>
                <optional>
                  <element name="collection">
                    <text/>
                  </element>
                </optional>
                <optional>
                  <ref name="idno"/>
                </optional>               
              </element>
              <optional>
                <element name="msContents">
                  <choice>
                    <element name="summary">
                      <text/>
                    </element>
                    <element name="msItem">
                      <element name="incipit">
                        <text/>
                      </element>
                    </element>
                    <group>
                      <element name="summary">
                        <text/>
                      </element>
                      <element name="msItem">
                        <element name="incipit">
                          <text/>
                        </element>
                      </element>
                    </group>
                  </choice>
                </element> 
              </optional>
              <optional>
                <element name="physDesc">
                  <element name="objectDesc">
                    <optional>
                      <attribute name="form">
                        <choice>                      
                          <value>letter</value>
                          <value>telegram</value>
                          <value>note</value>
                          <value>postcard</value>
                        </choice>
                      </attribute>
                    </optional>
                    
                    <optional>
                      <element name="supportDesc">
                        <optional>
                          <element name="extent">
                            <element name="measure">
                              <attribute name="type">
                                <value>page</value>
                              </attribute>
                              <text/>
                            </element>
                          </element> 
                        </optional>                    
                        <optional>
                          <element name="condition">
                            <text/>
                          </element>
                        </optional>
                      </element>
                    </optional>
                    
                    
                  </element>
                  <optional>
                    <element name="accMat">
                      <text/>
                    </element>
                  </optional>
                </element>
              </optional>
              
            </element>
          </element>
        </element>
        <optional>
          <element name="encodingDesc">
            <ref name="p"/>
          </element>
        </optional>        
        <element name="profileDesc">
          <element name="correspDesc">
            <attribute name="ref">
              <data type="anyURI"/>
            </attribute>
            <oneOrMore>
              <element name="correspAction">
                <optional>
                  <attribute name="sortKey">
                    <data type="integer"/>
                  </attribute>
                </optional>
                <optional>
                  <attribute name="subtype">
                    <data type="NCName"/>
                  </attribute>
                </optional>
                <attribute name="type">
                  <choice>
                    <value>sent</value>
                    <value>received</value>
                  </choice>
                </attribute>
                
                <ref name="persName"/>
                <zeroOrMore>
                  <choice>
                    <ref name="placeName"/>
                    <ref name="orgName"/>
                    <ref name="date"/>
                  </choice>
                </zeroOrMore>
              </element>
            </oneOrMore>
            <optional>
              <element name="correspContext">
                <oneOrMore>
                  <ref name="ref_context"/>
                </oneOrMore>
              </element>
            </optional>           
          </element>
          <optional>
            <element name="particDesc">
              <element name="listPerson">
                <oneOrMore>
                  <element name="person">
                    <optional>
                      <attribute name="age">
                        <data type="integer"/>
                      </attribute>
                    </optional>
                    <optional>
                      <attribute name="role">
                        <data type="NCName"/>
                      </attribute>
                    </optional>
                    <optional>
                      <attribute name="sameAs"/>
                    </optional>
                    <optional>
                      <attribute name="sex">
                        <data type="NCName"/>
                      </attribute>
                    </optional>
                  </element>
                </oneOrMore>
                <element name="relation">
                  <optional>
                    <attribute name="name">
                      <data type="NCName"/>
                    </attribute>
                  </optional>
                  <optional>
                    <attribute name="type">
                      <data type="NCName"/>
                    </attribute>
                  </optional>
                  <optional>
                    <attribute name="mutual"/>
                  </optional>
                  <optional>
                    <attribute name="active"/>
                  </optional>
                  <optional>
                    <attribute name="passive"/>
                  </optional>
                </element>
              </element>
            </element>
          </optional>
          
          <optional>
            <element name="textClass">
              <element name="keywords">
                <optional>
                  <attribute name="scheme">
                    <data type="NCName"/>
                  </attribute>
                </optional>
                <oneOrMore>
                  <element name="term">
                    <text/>
                  </element>
                </oneOrMore>
              </element>
            </element>
          </optional>         
        </element>
        <optional>
          <element name="revisionDesc">
            <oneOrMore>
              <element name="change">
                <attribute name="when">
                  <data type="date"/>
                </attribute>
                <attribute name="who">
                  <data type="NCName"/>
                </attribute>
                <text/>
              </element>
            </oneOrMore>         
          </element>
        </optional>      
      </element>
      <element name="text">
        <element name="body">
          <oneOrMore>
            <element name="div">
              <attribute name="type">
                <choice> 
                  <value>envelope</value>
                  <value>letter</value>
                  <value>telegram</value>
                  <value>note</value>
                  <value>postcard</value>
                  <value>attachment</value>
                </choice>
              </attribute>
              
              <interleave>
                <oneOrMore>
                  <ref name="p"/>
                </oneOrMore>
                <zeroOrMore>
                  <choice>
                    <ref name="subst"/>
                    <ref name="lb"/>
                    <ref name="head_1"/>      
                    <ref name="pb"/>
                    <ref name="table"/>
                    <ref name="notatedMusic"/>
                    <ref name="figure"/>
                    <ref name="note"/>
                    <ref name="add"/>
                    <ref name="formula"/>
                    <ref name="list"/>
                    
                    <element name="fw">
                      <optional>
                        <attribute name="type">
                          <data type="NCName"/>
                        </attribute>                    
                      </optional>    
                      <text/>
                    </element>
                    <element name="opener">
                      <zeroOrMore>
                        <choice>
                          <ref name="salute"/>
                          <ref name="dateline"/>
                          <ref name="address"/>
                        </choice>
                      </zeroOrMore>
                    </element>
                    <element name="closer">
                      <zeroOrMore>
                        <choice>
                          <ref name="salute"/>
                          <ref name="address"/>
                          <ref name="dateline"/>
                          <element name="signed">
                            <text/>
                          </element>
                        </choice>
                      </zeroOrMore>
                    </element>
                    <element name="postscript">
                      <optional>
                        <attribute name="n">
                          <data type="integer"/>
                        </attribute>
                      </optional>
                      <oneOrMore>
                        <ref name="p"/>
                      </oneOrMore>                   
                    </element>
                  </choice>
                </zeroOrMore>
              </interleave>
            </element>
          </oneOrMore>          
        </element>
      </element>
    </element>
  </start>
  <define name="a_when">
    <attribute name="when">
      <choice>
        <data type="date"/>
        <data type="gYear"/>
        <data type="gMonth"/>
        <data type="gDay"/>
        <data type="gYearMonth"/>
        <data type="gMonthDay"/>
        <data type="time"/>
        <data type="dateTime"/>
      </choice>
    </attribute>
  </define>
  <define name="a_notBefore">
    <attribute name="notBefore">
      <choice>
        <data type="date"/>
        <data type="gYear"/>
        <data type="gMonth"/>
        <data type="gDay"/>
        <data type="gYearMonth"/>
        <data type="gMonthDay"/>
        <data type="time"/>
        <data type="dateTime"/>
      </choice>
    </attribute>
  </define>
  <define name="a_notAfter">
    <attribute name="notAfter">
      <choice>
        <data type="date"/>
        <data type="gYear"/>
        <data type="gMonth"/>
        <data type="gDay"/>
        <data type="gYearMonth"/>
        <data type="gMonthDay"/>
        <data type="time"/>
        <data type="dateTime"/>
      </choice>
    </attribute>
  </define>
  <define name="a_resp">
    <attribute name="resp">
      <choice>
        <value>author</value>
        <value>editor</value>
        <value>posterior</value>
      </choice>
    </attribute>
  </define>
  <define name="a_cert">
    <attribute name="cert">
      <choice>
        <value>high</value>
        <value>medium</value>
        <value>low</value>
      </choice>
    </attribute>
  </define>
  <define name="date">
    <element name="date">
      <choice>
        <ref name="a_when"/>
        <ref name="a_notAfter"/>
        <ref name="a_notBefore"/>
        <group>
          <ref name="a_notAfter"/>
          <ref name="a_notBefore"/>        
        </group>
      </choice>
      <optional>
        <ref name="a_cert"/>
      </optional>
      <optional>
        <ref name="a_resp"/>
      </optional>
      <text/>
    </element>
  </define>
  <define name="idno">
    <element name="idno">
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>
  <define name="p">
    <element name="p">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="add"/>
          <ref name="bibl"/>
          <ref name="note"/>
          <ref name="date"/>
          <ref name="notatedMusic"/>
          <ref name="persName"/>
          <ref name="placeName"/>
          <ref name="ref"/>
          <ref name="table"/>
          <ref name="figure"/>
          <ref name="supplied"/>
          <ref name="unclear"/>
          <ref name="gap"/>
          <ref name="del"/>
          <ref name="pb"/>
          <ref name="subst"/>
          <ref name="cit"/>
          <ref name="formula"/>
          <ref name="hi"/>
          <ref name="lb"/>
          <ref name="list"/>
          <ref name="orgName"/>
          
          <element name="choice">
            <choice>
              <group>
                <interleave>
                  <element name="reg">
                    <text/>
                  </element>
                  <element name="orig">
                    <text/>
                  </element>
                </interleave>
              </group>
              <group>
                <interleave>
                  <element name="abbr">
                    <text/>
                  </element>
                  <element name="expan">
                    <oneOrMore>
                      <choice>
                        <text/>
                        <element name="ex">
                          <text/>
                        </element>
                      </choice>
                    </oneOrMore>
                  </element>
                </interleave>
              </group>
              <group>
                <interleave>
                  <element name="sic">
                    <text/>
                  </element>
                  <element name="corr">
                    <text/>
                  </element>
                </interleave>
              </group>
            </choice>
          </element> 
   
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="bibl">
    <element name="bibl">
      <optional>
        <attribute name="source">
          <data type="anyURI"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute>
          <name ns="http://www.w3.org/XML/1998/namespace">id</name>
          <data type="NCName"/>
        </attribute>
      </optional>
      <text/>
    </element>   
  </define>
  <define name="gap">
    <element name="gap">
      <interleave>
        <optional>
          <attribute name="reason">
            <choice>
              <value>cancelled</value>
              <value>editorial</value>
              <value>illegible</value>
              <value>irrevelant</value>
              <value>sampling</value>
            </choice>
          </attribute>
        </optional>
        <optional>
          <interleave>
            <attribute name="quantity">
              <data type="integer"/>
            </attribute>
            <attribute name="unit">
              <choice>
                <value>cm</value>
                <value>mm</value>
                <value>chars</value>
                <value>line</value>
                <value>page</value>
                <value>in</value>
              </choice>
            </attribute>
          </interleave>       
        </optional>
      </interleave>          
    </element>
  </define>
  <define name="persName">
    <element name="persName">
      <optional>
        <attribute name="key">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="ref">
          <data type="anyURI"/>
        </attribute>
      </optional>
      <optional>
        <attribute>
          <name ns="http://www.w3.org/XML/1998/namespace">id</name>
          <data type="NCName"/>
        </attribute>
      </optional>          
      <data type="string">
        <param name="pattern">.+</param>
      </data>
    </element>
  </define>
  <define name="placeName">
    <element name="placeName">
      <optional>
        <attribute name="key">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="ref">
          <data type="anyURI"/>
        </attribute>
      </optional>
      <optional>
        <attribute>
          <name ns="http://www.w3.org/XML/1998/namespace">id</name>
          <data type="NCName"/>
        </attribute>
      </optional>     
      <text/>
    </element>
  </define>
  <define name="ref_context">
    <element name="ref">
      <attribute name="target">
        <data type="anyURI"/>
      </attribute>
      <attribute name="type">
        <choice>
          <value>next</value>
          <value>prev</value>
          <value>replyTo</value>
          <value>repliedBy</value>
        </choice>
      </attribute>
    </element>
  </define>
  <define name="ref">
    <element name="ref">
      <attribute name="target">
        <data type="anyURI"/>
      </attribute>
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>
  <define name="head_1">
    <element name="head">   
      <attribute name="type">
        <choice>
          <value>object</value>
          <value>title</value>
        </choice>
      </attribute>
      <text/>
    </element>
  </define>
  <define name="head_2">
    <element name="head">
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>
  <define name="salute">
    <element name="salute">
      <text/>
    </element>
  </define>
  <define name="dateline">
    <element name="dateline">
      <text/>
      <zeroOrMore>
        <ref name="date"/>
      </zeroOrMore>     
    </element>
  </define>
  <define name="address">
    <element name="address">
      <optional>
        <attribute name="type">
          <choice>
            <value>receiver</value>
            <value>sender</value>
          </choice>
        </attribute>
      </optional>
      <oneOrMore>
        <element name="addrLine">
          <text/>
        </element>
      </oneOrMore>    
    </element>
  </define>
  <define name="table">
    <element name="table">
      <optional>
        <attribute name="cols">
          <data type="integer"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="rows">
          <data type="integer"/>
        </attribute>
      </optional>
      <zeroOrMore>
        <ref name="head_2"/>
      </zeroOrMore>
      <zeroOrMore>
        <element name="row">
          <optional>
            <attribute name="role">
              <data type="NCName"/>
            </attribute>
          </optional>
          <zeroOrMore>
            <element name="cell">
              <optional>
                <attribute name="role">
                  <data type="NCName"/>
                </attribute>
              </optional>
              <text/>
            </element>
          </zeroOrMore> 
          <text/>
        </element>
      </zeroOrMore>      
    </element>
  </define>
  <define name="notatedMusic">
    <element name="notatedMusic">
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="graphic"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="desc"/>
        </zeroOrMore>  
      </interleave>     
    </element>
  </define>
  <define name="graphic">
    <element name="graphic">
      <attribute name="facs">
        <data type="anyURI"/>
      </attribute>
    </element>
  </define>
  <define name="figDesc">
    <element name="figDesc">
      <optional>
        <attribute name="facs">
          <data type="anyURI"/>
        </attribute>
      </optional>   
      <text/>
    </element>
  </define>
  <define name="desc">
    <element name="desc">
      <optional>
        <attribute name="facs">
          <data type="anyURI"/>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>
  <define name="place">
    <attribute name="place">
      <choice>
        <value>below</value>
        <value>bottom</value>
        <value>margin</value>
        <value>top</value>
        <value>opposite</value>
        <value>overleaf</value>
        <value>above</value>
        <value>end</value>
        <value>inline</value>
        <value>inspace</value>        
      </choice>
    </attribute>
  </define>
  <define name="figure">
    <element name="figure">
      <interleave>
        <zeroOrMore>
          <ref name="graphic"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="figDesc"/>
        </zeroOrMore>
      </interleave>         
    </element>
  </define>
  <define name="note">
    <element name="note">
      <interleave>
        <attribute name="type">
          <choice>
            <value>author</value>
            <value>editor</value>
          </choice>
        </attribute>
        <optional>
          <ref name="place"/>
        </optional> 
        <oneOrMore>
          <choice>
            <text/>
            <ref name="placeName"/>
            <ref name="bibl"/>
            <ref name="persName"/>
          </choice>
        </oneOrMore>
      </interleave>            
      <text/>
    </element>
  </define>
  <define name="add">
    <element name="add">
      <interleave>
        <attribute name="type">
          <choice>
            <value>posterior</value>
            <value>author</value>
          </choice>
        </attribute>
        <optional>
          <ref name="place"/>
        </optional>
      </interleave> 
      <interleave>
        <zeroOrMore>
         <ref name="del"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="unclear"></ref>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="supplied"></ref>
        </zeroOrMore>
        <text/>
      </interleave>
    </element>  
  </define>
  <define name="supplied">
    <element name="supplied">
      <optional>
        <attribute name="reason">
          <data type="NCName"/>
        </attribute>
      </optional> 
      <optional>
        <ref name="a_resp"/>
      </optional>
      <optional>
        <ref name="a_cert"></ref>
      </optional>
      <text/>
    </element>
  </define>
  <define name="unclear">
    <element name="unclear">
      <optional>
        <attribute name="reason">
          <choice>
            <value>illegible</value>
            <value>faded</value>
            <value>background_noise</value>
            <value>eccentric_ductus</value>
          </choice>
        </attribute>      
      </optional>
      <optional>
        <ref name="a_cert"/>
      </optional>
      <optional>
        <ref name="a_resp"/>
      </optional>
      <text/>
    </element>
  </define>
  <define name="del">
    <element name="del">
      <interleave>
        <zeroOrMore>
          <ref name="unclear"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="supplied"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="gap"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="lb"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="pb"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="del"/>
        </zeroOrMore>
        <text/>
      </interleave>
    </element>
  </define>
  <define name="pb">
    <element name="pb">
      <optional>
        <attribute name="facs">
          <data type="anyURI"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="n">
          <data type="integer"/>
        </attribute>
      </optional>
      <optional>
        <attribute>
          <name ns="http://www.w3.org/XML/1998/namespace">id</name>
          <data type="NCName"/>
        </attribute>
      </optional>                  
    </element>    
  </define>
  <define name="lb">
    <element name="lb">
      <empty/>
    </element>
  </define>
  <define name="subst">
    <element name="subst">    
      <interleave>
        <zeroOrMore>
          <ref name="add"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="del"/>
        </zeroOrMore>
        <text/>
      </interleave>
    </element>
  </define>
  <define name="orgName">
    <element name="orgName">
      <optional>
        <attribute name="key">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="ref">
          <data type="anyURI"/>
        </attribute>
      </optional>
      <optional>
        <attribute>
          <name ns="http://www.w3.org/XML/1998/namespace">id</name>
          <data type="NCName"/>
        </attribute>
      </optional>            
      <text/>
    </element>
  </define>
  <define name="cit">
    <element name="cit">
      <choice>
        <element name="quote">
          <text/>
        </element>
        <group>
          <element name="quote">
            <text/>
          </element>
          <ref name="bibl"/>
        </group>
        <group>
          <element name="quote">
            <text/>
          </element>
          <ref name="ref"/>
        </group>
      </choice>
    </element>
  </define>
  <define name="formula">
    <element name="formula">
      <optional>
        <attribute name="notation">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <ref name="graphic"/>
          <text/>
        </choice>
      </oneOrMore>        
    </element>
  </define>
  <define name="hi">
    <element name="hi">
      <attribute name="rend"/>
      <text/>
    </element>
  </define>
  <define name="list">
    <element name="list">
      <oneOrMore>
        <element name="item">
          <text/>
        </element>
      </oneOrMore>
    </element>
  </define>
</grammar>
