schema_correspondance.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="http://www.tei-c.org/ns/1.0" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="TEI">
      <attribute>
        <name ns="http://www.w3.org/XML/1998/namespace">lang</name>
      </attribute>
      <element name="teiHeader">
        <element name="fileDesc">
          <element name="titleStmt">
            <element name="title">
              <text/>
            </element>
            <element name="author">
              <attribute name="key"/>
              <attribute name="ref">
                <data type="anyURI"/>
              </attribute>
              <text/>
            </element>
            <element name="editor">
              <attribute name="key"/>
              <text/>
            </element>
          </element>
          <element name="editionStmt">
            <element name="edition">
              <data type="NCName"/>
            </element>
            <element name="respStmt">
              <element name="name">
                <text/>
              </element>
              <element name="resp">
                <text/>
              </element>
            </element>
          </element>
          <element name="publicationStmt">
            <element name="publisher">
              <text/>
            </element>
            <ref name="date"/>
            <ref name="idno"/>
            <element name="availability">
              <attribute name="status">
                <data type="NCName"/>
              </attribute>
              <element name="licence">
                <attribute name="target">
                  <data type="anyURI"/>
                </attribute>
                <oneOrMore>
                  <ref name="p"/>
                </oneOrMore>
              </element>
            </element>
          </element>
          <element name="sourceDesc">
            <element name="msDesc">
              <element name="msIdentifier">
                <element name="country">
                  <text/>
                </element>
                <element name="settlement">
                  <text/>
                </element>
                <element name="institution">
                  <text/>
                </element>
                <element name="repository">
                  <text/>
                </element>
                <element name="collection">
                  <text/>
                </element>
                <ref name="idno"/>
              </element>
              <optional>
                <element name="msContents">
                  <choice>
                    <element name="summary">
                      <text/>
                    </element>
                    <element name="msItem">
                      <element name="incipit">
                        <text/>
                      </element>
                    </element>
                    <group>
                      <element name="summary">
                        <text/>
                      </element>
                      <element name="msItem">
                        <element name="incipit">
                          <text/>
                        </element>
                      </element>
                    </group>
                  </choice>
                </element> 
              </optional>
              <element name="physDesc">
                <element name="objectDesc">
                  <attribute name="form">
                    <choice>                      
                      <value>letter</value>
                      <value>telegram</value>
                      <value>note</value>
                      <value>postcard</value>
                    </choice>
                  </attribute>
                  <element name="supportDesc">
                    <element name="extent">
                      <element name="measure">
                        <attribute name="type">
                          <value>page</value>
                        </attribute>
                        <text/>
                      </element>
                    </element> 
                    <optional>
                      <element name="condition">
                        <text/>
                      </element>
                    </optional>
                  </element>
                </element>
                <optional>
                  <element name="accMat">
                    <text/>
                  </element>
                </optional>
              </element>
            </element>
          </element>
        </element>
        <optional>
          <element name="encodingDesc">
            <ref name="p"/>
          </element>
        </optional>        
        <element name="profileDesc">
          <element name="correspDesc">
            <attribute name="ref">
              <data type="anyURI"/>
            </attribute>
            <oneOrMore>
              <element name="correspAction">
                <optional>
                  <attribute name="sortKey">
                    <data type="integer"/>
                  </attribute>
                </optional>
                <optional>
                  <attribute name="subtype">
                    <data type="NCName"/>
                  </attribute>
                </optional>
                <attribute name="type">
                  <choice>
                    <value>sent</value>
                    <value>received</value>
                  </choice>
                </attribute>
                <ref name="persName"/>
                <optional>
                  <ref name="placeName"/>
                </optional>
                <optional>
                  <ref name="date"/>
                </optional>
              </element>
            </oneOrMore>
            <optional>
              <element name="correspContext">
                <oneOrMore>
                  <ref name="ref"/>
                </oneOrMore>
              </element>
            </optional>           
          </element>
          <optional>
            <element name="particDesc">
              <element name="listPerson">
                <oneOrMore>
                  <element name="person">
                    <optional>
                      <attribute name="age">
                        <data type="integer"/>
                      </attribute>
                    </optional>
                    <optional>
                      <attribute name="role">
                        <data type="NCName"/>
                      </attribute>
                    </optional>
                    <optional>
                      <attribute name="sameAs"/>
                    </optional>
                    <optional>
                      <attribute name="sex">
                        <data type="NCName"/>
                      </attribute>
                    </optional>
                  </element>
                </oneOrMore>
                <element name="relation">
                  <optional>
                    <attribute name="name">
                      <data type="NCName"/>
                    </attribute>
                  </optional>
                  <optional>
                    <attribute name="type">
                      <data type="NCName"/>
                    </attribute>
                  </optional>
                  <optional>
                    <attribute name="mutual"/>
                  </optional>
                  <optional>
                    <attribute name="active"/>
                  </optional>
                  <optional>
                    <attribute name="passive"/>
                  </optional>
                </element>
              </element>
            </element>
          </optional>
          
          <optional>
            <element name="textClass">
              <element name="keywords">
                <attribute name="scheme">
                  <data type="NCName"/>
                </attribute>
                <oneOrMore>
                  <element name="term">
                    <text/>
                  </element>
                </oneOrMore>
              </element>
            </element>
          </optional>         
        </element>
        <optional>
          <element name="revisionDesc">
            <oneOrMore>
              <element name="change">
                <attribute name="when">
                  <data type="date"/>
                </attribute>
                <attribute name="who">
                  <data type="NCName"/>
                </attribute>
                <text/>
              </element>
            </oneOrMore>         
          </element>
        </optional>      
      </element>
      <element name="text">
        <element name="body">
          <oneOrMore>
            <element name="div">
              <attribute name="type">
                <choice> 
                  <value>envelope</value>
                  <value>letter</value>
                  <value>telegram</value>
                  <value>note</value>
                  <value>postcard</value>
                </choice>
              </attribute>
              <interleave>
                <zeroOrMore>
                  <element name="lb">
                    <empty/>
                  </element>
                </zeroOrMore>
                <zeroOrMore>
                  <element name="pb">
                    <optional>
                      <attribute name="facs">
                        <data type="anyURI"/>
                      </attribute>
                    </optional>
                    <optional>
                      <attribute name="n">
                        <data type="integer"/>
                      </attribute>
                    </optional>
                    <optional>
                      <attribute>
                        <name ns="http://www.w3.org/XML/1998/namespace">id</name>
                        <data type="NCName"/>
                      </attribute>
                    </optional>                  
                  </element>
                </zeroOrMore>
                <zeroOrMore>
                  <ref name="head"/>
                </zeroOrMore>
                <zeroOrMore>
                  <element name="fw">
                    <optional>
                      <attribute name="type">
                        <data type="NCName"/>
                      </attribute>                    
                    </optional>    
                    <text/>
                  </element>
                </zeroOrMore>
                <zeroOrMore>
                  <element name="opener">
                    <interleave>
                      <zeroOrMore>
                        <ref name="salute"/>
                      </zeroOrMore>
                      <zeroOrMore>
                        <ref name="dateline"/>
                      </zeroOrMore>
                      <zeroOrMore>
                        <ref name="address"/>
                      </zeroOrMore>                    
                    </interleave>
                  </element>
                </zeroOrMore>
                <oneOrMore>
                  <ref name="p"/>
                </oneOrMore>
                <zeroOrMore>
                  <ref name="table"/>
                </zeroOrMore>
                <zeroOrMore>
                  <ref name="notatedMusic"/>
                </zeroOrMore>
                <zeroOrMore>
                  <element name="figure">
                    <interleave>
                      <optional>
                        <ref name="graphic"/>
                      </optional>
                      <ref name="desc"/>
                    </interleave>         
                  </element> 
                </zeroOrMore>
                <zeroOrMore>
                  <element name="formula">
                    <optional>
                      <attribute name="notation">
                        <data type="NCName"/>
                      </attribute>
                    </optional>
                    <text/>
                  </element>
                </zeroOrMore>
                <zeroOrMore>
                  <element name="list">
                    <oneOrMore>
                      <element name="item">
                        <text/>
                      </element>
                    </oneOrMore>
                  </element>
                </zeroOrMore>
                <zeroOrMore>
                  <element name="closer">
                    <interleave>
                      <zeroOrMore>
                        <ref name="salute"/>
                      </zeroOrMore>
                      <zeroOrMore>
                        <ref name="address"/>
                      </zeroOrMore>
                      <zeroOrMore>
                        <ref name="dateline"/> 
                      </zeroOrMore>
                      <zeroOrMore>
                        <element name="signed">
                          <text/>
                        </element>                        
                      </zeroOrMore>
                    </interleave>
                  </element>
                </zeroOrMore>
                <zeroOrMore>
                  <element name="postscript">
                    <oneOrMore>
                      <ref name="p"/>
                    </oneOrMore>                   
                  </element>
                </zeroOrMore>
              </interleave>                                      
            </element>
          </oneOrMore>          
        </element>
      </element>
    </element>
  </start>
  <define name="date">
    <element name="date">
      <optional>
        <attribute name="cert">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="resp">
          <data type="NCName"/>
        </attribute>
      </optional>
      <attribute name="when">
        <choice>
          <data type="date"/>
          <data type="gYear"/>
          <data type="gYearMonth"/>
        </choice>
      </attribute>
      <text/>
    </element>
  </define>
  <define name="idno">
    <element name="idno">
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>
  <define name="p">
    <element name="p">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="bibl"/>
          <ref name="date"/>
          <ref name="notatedMusic"/>
          <ref name="persName"/>
          <ref name="placeName"/>
          <ref name="ref"/>
          <ref name="table"/>
          <element name="pb">
            <optional>
              <attribute name="facs">
                <data type="anyURI"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="n">
                <data type="integer"/>
              </attribute>
            </optional>
            <optional>
              <attribute>
                <name ns="http://www.w3.org/XML/1998/namespace">id</name>
                <data type="NCName"/>
              </attribute>
            </optional>                  
          </element>
          <element name="add">
            <interleave>
              <attribute name="type">
                <choice>
                  <value>posterior</value>
                  <value>author</value>
                </choice>
              </attribute>
              <optional>
                <ref name="place"/>
              </optional>
            </interleave>
            <text/>
          </element>
          <element name="choice">
            <choice>
              <group>
                <element name="reg">
                  <data type="NCName"/>
                </element>
                <element name="orig">
                  <data type="NCName"/>
                </element>
              </group>
              <group>
                <element name="abbr">
                  <data type="NCName"/>
                </element>
                <element name="expan">
                  <oneOrMore>
                    <choice>
                      <text/>
                      <element name="ex">
                        <data type="NCName"/>
                      </element>
                    </choice>
                  </oneOrMore>
                </element>
              </group>
              <group>
                <element name="sic">
                  <data type="NCName"/>
                </element>
                <element name="corr">
                  <data type="NCName"/>
                </element>
              </group>
            </choice>
          </element>
         <element name="supplied">
           <text/>
         </element> 
          <element name="cit">
            <interleave>           
              <element name="quote">
                <text/>
              </element>           
              <zeroOrMore>
                <ref name="bibl"/>
              </zeroOrMore>                           
            </interleave>
         </element>
          <element name="del">
            <text/>
          </element>
          <element name="figure">
            <interleave>
              <optional>
                <ref name="graphic"/>
              </optional>
              <ref name="desc"/>
            </interleave>         
          </element>         
          <element name="formula">
            <optional>
              <attribute name="notation">
                <data type="NCName"/>
              </attribute>
            </optional>
            <text/>
          </element>
          <element name="gap">
            <interleave>
              <optional>
                <attribute name="quantity">
                  <data type="integer"/>
                </attribute>
              </optional>
              <optional>
                <attribute name="reason">
                  <choice>
                    <value>cancelled</value>
                    <value>deleted</value>
                    <value>editorial</value>
                    <value>illegible</value>
                    <value>irrevelant</value>
                    <value>sampling</value>
                  </choice>
                </attribute>
              </optional>
              <optional>
                <attribute name="unit">
                  <data type="NCName"/>
                </attribute>
              </optional>
            </interleave>          
          </element>
          <element name="hi">
            <attribute name="rend"/>
            <text/>
          </element>
          <element name="lb">
            <empty/>
          </element>
          <element name="list">
            <oneOrMore>
              <element name="item">
                <text/>
              </element>
            </oneOrMore>
          </element>
          <element name="note">
            <interleave>
              <attribute name="type">
                <choice>
                  <value>author</value>
                  <value>editor</value>
                </choice>
              </attribute>
              <optional>
                <ref name="place"/>
              </optional>             
            </interleave>            
            <text/>
          </element>
          <element name="orgName">
            <optional>
              <attribute name="key">
                <data type="NCName"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="ref">
                <data type="anyURI"/>
              </attribute>
            </optional>
            <optional>
              <attribute>
                <name ns="http://www.w3.org/XML/1998/namespace">id</name>
                <data type="NCName"/>
              </attribute>
            </optional>            
            <text/>
          </element>
          <element name="unclear">
            <attribute name="reason">
              <data type="NCName"/>
            </attribute>
            <text/>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="bibl">
    <element name="bibl">
      <optional>
        <attribute name="source">
          <data type="anyURI"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute>
          <name ns="http://www.w3.org/XML/1998/namespace">id</name>
          <data type="NCName"/>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>
  <define name="persName">
    <element name="persName">
      <optional>
        <attribute name="key">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="ref">
          <data type="anyURI"/>
        </attribute>
      </optional>
      <optional>
        <attribute>
          <name ns="http://www.w3.org/XML/1998/namespace">id</name>
          <data type="NCName"/>
        </attribute>
      </optional>          
      <text/>
    </element>
  </define>
  <define name="placeName">
    <element name="placeName">
      <optional>
        <attribute name="key">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="ref">
          <data type="anyURI"/>
        </attribute>
      </optional>
      <optional>
        <attribute>
          <name ns="http://www.w3.org/XML/1998/namespace">id</name>
          <data type="NCName"/>
        </attribute>
      </optional>     
      <text/>
    </element>
  </define>
  <define name="ref">
    <element name="ref">
      <attribute name="target">
        <data type="anyURI"/>
      </attribute>
      <optional>
        <attribute name="type">
          <choice>
            <value>next</value>
            <value>prev</value>
            <value>replyTo</value>
            <value>repliedBy</value>
          </choice>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>
  <define name="head">
    <element name="head">
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>
  <define name="salute">
    <element name="salute">
      <text/>
    </element>
  </define>
  <define name="dateline">
    <element name="dateline">
      <text/>
      <zeroOrMore>
        <ref name="date"/>
      </zeroOrMore>     
    </element>
  </define>
  <define name="address">
    <element name="address">
      <optional>
        <attribute name="sameAs"/>
      </optional>
      <oneOrMore>
        <element name="addrLine">
          <text/>
        </element>
      </oneOrMore>    
    </element>
  </define>
  <define name="table">
    <element name="table">
      <optional>
        <attribute name="cols">
          <data type="integer"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="rows">
          <data type="integer"/>
        </attribute>
      </optional>
      <zeroOrMore>
        <ref name="head"/>
      </zeroOrMore>
      <zeroOrMore>
        <element name="row">
          <optional>
            <attribute name="role">
              <data type="NCName"/>
            </attribute>
          </optional>
          <zeroOrMore>
            <element name="cell">
              <optional>
                <attribute name="role">
                  <data type="NCName"/>
                </attribute>
              </optional>
              <text/>
            </element>
          </zeroOrMore>         
        </element>
      </zeroOrMore>      
    </element>
  </define>
  <define name="notatedMusic">
    <element name="notatedMusic">
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="graphic"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="desc"/>
        </zeroOrMore>  
      </interleave>     
    </element>
  </define>
  <define name="graphic">
    <element name="graphic">
      <attribute name="url">
        <data type="anyURI"/>
      </attribute>
      <empty/>
    </element>
  </define>
  <define name="desc">
    <element name="desc">
      <text/>
    </element>
  </define>
  <define name="place">
    <attribute name="place">
      <choice>
        <value>below</value>
        <value>bottom</value>
        <value>margin</value>
        <value>top</value>
        <value>opposite</value>
        <value>overleaf</value>
        <value>above</value>
        <value>end</value>
        <value>inline</value>
        <value>inspace</value>        
      </choice>
    </attribute>
  </define>
</grammar>
